<header>
  <div class="bg-white">
    {{ partial "site-navigation.html" .}}
    <div class="ph5-l">
      <div class="fl w-100 w-third-ns pa4 tc">
        <div>
          <img
              src="http://tachyons.io/img/logo.jpg"
              class="br-100 w-100 h-100 dib" alt="avatar">
        </div>
      </div>
      <div class="fl w-100 w-third-ns pa4 tc dn di-ns">
        <div>
          <img
              src="http://tachyons.io/img/logo.jpg"
              class="br-100 w-100 h-100 dib" alt="avatar">
        </div>
      </div>
      <div class="fl w-100 w-third-ns pa4 tc dn di-ns">
        <div>
          <img
              src="http://tachyons.io/img/logo.jpg"
              class="br-100 w-100 h-100 dib" alt="avatar">
        </div>
      </div>
    </div>
  </div>
</header>
