<footer class="w-100 pa5-l pv4 dib bt b--dashed bw2 bl-0 br-0 bb-0" role="contentinfo">
    <div class="center">
      <div class="flex-l mhn2-ns">
        <div class="ph4 pt2 w-50-ns f3-ns f4">
          <h2 class="f3-ns f4 b lh-title mb2">Prices</h2>
          <p>Ladies	£35</p>
          <p>Gentlemen	£25</p>
          <p>Colour from	£35</p>
        </div>
        <div class="ph4 pt2 w-50-ns f3-ns f4">
          <h2 class="f3-ns f4 b lh-title mb2">Opening times</h2>
          <p>Weekdays	10am-3pm</p>
          <p>Saturdays	10am-12pm</p>
        </div>
        <div class="ph4 pt2 w-50-ns f3-ns f4 lh-copy">
          <h2 class="f3-ns f4 b lh-title mb2">Location</h2>
          <p>Hidden in Old Trafford,<br />
          Manchester, UK</p>
        </div>
      </div>
    </div>
    <div class="center">
      <div class="flex-l mhn2-ns mb3">
        <div class="ph4 pt2 w-50-ns f3-ns f4">
          <h2 class="f3-ns f4 b lh-title mb2">Get in touch</h2>
          <p><a class="link dim orange" href="tel:07816300767" title="Call Hidden Salon">Call 07816&nbsp;300&nbsp;767</a></p>
          <p><a class="link dim orange" href="https://www.facebook.com/hiddensalonoldtrafford"  title="Follow Hidden Salon on Facebook">Facebook</a></p>
          <p><a class="link dim orange" href="https://www.instagram.com/hiddensalonoldtrafford"  title="Follow Hidden Salon on Instagram">Instagram</a></p>
        </div>
        <div class="ph4 w-50-ns">
        </div>
        <div class="ph4 pt2 w-50-ns f3-ns f4">
          <p>Copyright &copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
          <p>Photography by <a class="link dim orange" href="https://www.heissrourkephotography.com" title="Heiss & Rourke Photography">Heiss & Rourke</a></p>
          <p>Design by <a class="link dim orange" href="https://www.jamesstiff.com" title="James Stiff Design">James Stiff</a></p>
        </div>
      </div>
    </div>
</footer>