{{ define "main" }}
  <article class="ph5-l">
    <div class="fl w-100 w-third-l ph4 pt2 hello tl lh-copy">
      <p class="f4 f3-ns">Hair by Claire&nbsp;Louise&nbsp;Ryder</p>
    </div>
    <div class="fl w-60-l ph4 pt2 tl lh-copy f4 f3-ns mb5-l mb4">
      {{ .Content }}
    </div>
  </article>
  <div class="mw8 center">
    {{ $paginator := .Paginate (where .Data.Pages "Section" .Section) }}
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range  $paginator.Pages }}
        <div class="relative w-100  mb4">
          {{ partial "summary.html" . }}
        </div>
      {{ end }}
    </section>
  {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}